{{ form_start(form) }}
   
    <div class="container formulaire" >
      <style>
   .milieu{
      
       margin-left:350px;
   }
    </style>
<br> 
    <div class="text-center">
   <div class="milieu">
        <div class="col-md-6">
            {{ form_row(form.dateaps,{'label':'Date'}) }}
        </div>   
        <div class="col-md-6">
            {{ form_row(form.Titreprojet, {'label':'Sélectionner le projet'}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.commentaire,{'label':'Commentaire'}) }}
        </div>  
        <div class="col-md-6">
            {{ form_row(form.brochure, {'label':'Sélectionner le fichier'}) }}
        </div> <br> 
    </div>
        <div class="text-center">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
        </div> <br> 
</div>
  
{{ form_end(form) }}
