{% extends 'base.html.twig' %}

{% block title %}Liste des APD{% endblock %}

{% block body %}
          <center class="titre">Liste des APD</center>
 <br>  
  
 <div class="container">
  <div class="text-center">

    <table class="table" id="myTable">
        <thead>
            <tr id="header">
                 <th>Nom du projet</th>          
                <th>Date </th>
                <th>Commentaire</th>
                <th>Document</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for a_p_d in a_p_ds %}
            <tr class="ttttt">
                <td>{{ a_p_d.nomprojet }}</td>
                <td>{{ a_p_d.dateapd ? a_p_d.dateapd|date('d-m-Y') : '' }}</td>
                <td>{{ a_p_d.commentaire }}</td>
                <td>
                <a href="{{ asset('uploads/brochures/' ~ a_p_d.brochureFilename) }}" target="_blank">Voir le fichier (PDF)</a>
                </td>               
                 <td>
                    <a href="{{ path('apd_show', {'id': a_p_d.id}) }}">Voir</a>
                    <a href="{{ path('apd_edit', {'id': a_p_d.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun APD enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('apd_new') }}"class="btn btn-success">Ajouter un APD</a>
        </div></div>
<footer>
<span class="badge badge-pill badge-dark"><a href="{{ path('menu') }}">Menu APS, APD, DAO</a></span>
    </footer>
{% endblock %}
