{% extends 'base.html.twig' %}

{% block title %}Liste des PV de réunion mensuel{% endblock %}

{% block body %}
 <center class="titre">Liste des PV de réunion mensuel</center>
 <br>  
  
 <div class="container">
  <div class="text-center">

    <table class="table" id="myTable">
        <thead>
            <tr id="header">
                <th>Intitulé du PV</th>
                <th>Nom du projet</th>
                <th>Document</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pvmensuel in pvmensuels %}
            <tr class="ttttt">
                <td>{{ pvmensuel.label }}</td>
                <td>{{ pvmensuel.nomprojet }}</td>

                <td>
                <a href="{{ asset('uploads/brochures/' ~ pvmensuel.brochureFilename) }}" target="_blank">Voir le fichier (PDF)</a>
                </td>
                <td>
                    <a href="{{ path('pvmensuel_show', {'id': pvmensuel.id}) }}">Voir</a>
                    <a href="{{ path('pvmensuel_edit', {'id': pvmensuel.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun PV enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</br></br>
    <a href="{{ path('pvmensuel_new') }}" class="btn btn-success">Ajouter un PV</a>
     </div>
    </div>
    <footer>
<span class="badge badge-pill badge-dark"><a href="{{ path('etude') }}">Suivi et Contrôle</a></span>
    </footer>
{% endblock %}
