{% extends 'base.html.twig' %}

{% block title %}Suivi{% endblock %}

{% block body %}
   <center class="titre">Suivi</center>
 <br>  
  
 <div class="container">
  <div class="text-center">

    <table class="table" id="myTable">
        <thead>
            <tr id="header">
                <th>Nom du projet</th>
                <th>Réunion de démarrage</th>
                <th>Contrat de travaux</th>
                <th>Ordre de service</th>
                <th>Implantation</th>
                <th>Dossiers d'éxecution</th>
                <th>Pv de réception provisoire</th>
                <th>Pv levée de reserves</th>
                <th>Pv réception définitive</th>
                <th>Rapport annuel</th>
                <th>Rapport final</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suivi in suivis %}
            <tr>
                <td>{{ suivi.nomprojet }}</td>
                <td>{{ suivi.reunionDeDemarrage }}</td>
                <td>{{ suivi.contratDeTravaux }}</td>
                <td>{{ suivi.ordreDeService }}</td>
                <td>{{ suivi.implantation }}</td>
                <td>{{ suivi.dossiersExecution }}</td>
                <td>{{ suivi.pvReceptionProvisoire }}</td>
                <td>{{ suivi.pvLeveeDeReserves }}</td>
                <td>{{ suivi.pvReceptionDefinitive }}</td>
                <td>{{ suivi.rapportAnnuel }}</td>
                <td>{{ suivi.rapportFinal }}</td>
                <td>
                    <a href="{{ path('suivi_show', {'id': suivi.id}) }}">Voir</a>
                    <a href="{{ path('suivi_edit', {'id': suivi.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</br></br>

    <a href="{{ path('suivi_new') }}" class="btn btn-success">Enregistrer un suivi</a>
    </div>
    </div>
{% endblock %}
