{% extends 'base.html.twig' %}

{% block title %}Suivi{% endblock %}

{% block body %}
    <center class="titre">Suivi</center>
    <br>
    <div class="container">
        <div class="text-center">

            <table class="table" id="myTable">
                <thead>
                <tr id="header">

                    <th>Nom du projet</th>
                    <th>Reunion de démarrage</th>
                    <th>Rapport final</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for suivi in suivis %}
                    <tr class="ttttt">
                        <td>{{ suivi.nomprojet }}</td>
                        <td><a href="{{ asset('uploads/brochures/' ~ suivi.brochureFilename) }}" target="_blank">Voir le fichier (PDF)</a></td>
                        <td><a href="{{ asset('uploads/brochures/' ~ suivi.brochureFilename9) }}" target="_blank">Voir le fichier (PDF)</a></td>
                        <td>

                            <a href="{{ path('suivi_show', {'id': suivi.id}) }}">Voir</a>
                            <a href="{{ path('suivi_edit', {'id': suivi.id}) }}">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun projet enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        </br></br>

        <a href="{{ path('suivi_new') }}" class="btn btn-success">Enregistrer un suivi</a>
    </div>
    </div>
{% endblock %}

