{% extends 'base.html.twig' %}

{% block title %}Suivi{% endblock %}

{% block body %}
  <br>
          <center class="titre">Détails du suivi</center>
    <br> 


 <div class="container">

    <table class="table">
        <tbody>
            <tr>
                <th>Réunion de démarrage</th>
                <td>{{ suivi.reunionDeDemarrage }}</td>
            </tr>
            <tr>
                <th>Contrat de travaux</th>
                <td>{{ suivi.contratDeTravaux }}</td>
            </tr>
            <tr>
                <th>Ordre de service</th>
                <td>{{ suivi.ordreDeService }}</td>
            </tr>
            <tr>
                <th>Implantation</th>
                <td>{{ suivi.implantation }}</td>
            </tr>
            <tr>
                <th>Dossiers d'éxecution</th>
                <td>{{ suivi.dossiersExecution }}</td>
            </tr>
            <tr>
                <th>Pv de réception provisoire</th>
                <td>{{ suivi.pvReceptionProvisoire }}</td>
            </tr>
            <tr>
                <th>Pv levée de reserves</th>
                <td>{{ suivi.pvLeveeDeReserves }}</td>
            </tr>
            <tr>
                <th>Pv réception définitive</th>
                <td>{{ suivi.pvReceptionDefinitive }}</td>
            </tr>
            <tr>
                <th>Rapport annuel</th>
                <td>{{ suivi.rapportAnnuel }}</td>
            </tr>
            <tr>
                <th>Rapport final</th>
                <td>{{ suivi.rapportFinal }}</td>
            </tr>
        </tbody>
    </table>


     <div class="text-center"> 
        <a href="{{ path('suivi_index') }}" class="btn btn-info">Liste des suivi</a>

        <a href="{{ path('suivi_edit', {'id': suivi.id}) }}"class="btn btn-warning">Modifier</a>
    </div>
     {{ include('suivi/_delete_form.html.twig') }}
</div>
<footer>
<span class="badge badge-pill badge-dark"><a href="{{ path('etude') }}">Suivi et Contrôle</a></span>
    </footer>
{% endblock %}
